.tinyCell {
    display: flex;
    flex-direction: column;
    width: 3%;
    height: 35%;
    background-color: #323232;
    border: 1px solid var(--border-dark-color);
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
