.box {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: var(--secondary-dark-color);
    height: 60vh;
    width: 30vw;
    color: var(--text-color);
    margin-bottom: 11%;
    margin-left: 25px;
}

.box.expanded {
    height: 70vh;
    margin-bottom: 0;
    padding: 0;
}

