.submit {
    background: #0084ff;
    border: none;
    color: #fff;
    font-weight: bolder;
    cursor: pointer;
    font-size: 16px;
    width: 12.5vw;
    margin: 0 8px;
    transition: 0.25s ease;
    border-radius: 15px;
    height: 6vh;
    border-radius: 15px;
    margin-bottom: 15px;
    font-size: 18px;
}

.submit:hover {
    transform: scale(1.05);
    transition: 0.50s ease;
    background: #1e92ff;
    color: #ececec;
    
}

.textarea {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    border-radius: 15px;
    line-height: 6vh;
    margin-bottom: 15px;
}

.formRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.formContainer {
    height: 26.2vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.formContainer .textarea:nth-last-child(even) {
    width: 100%;
}

.login {
    background-color: #34be3b;
}

.login:hover {
    background-color: #5be061;
}

.logout {
    background-color: #ff3131;
}

.logout:hover {
    background-color: #ff5858;
}