.statsPanel {
    height: 20%;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
    margin-top: 5%;
    padding: 2% 10%;
    border-radius: 12px;
    border: 1px solid rgb(53, 53, 53);
    background-color: var(--primary-dark-color);
}

.statsPanel p, .bigP {
    margin: 0;
    font-size: 25px;
    font-weight: bold;
}

.bigP {
    font-size: 30px;
}