:root {
  --primary-dark-color: rgb(30, 30, 30);
  --secondary-dark-color: rgb(27, 27, 27);
  --text-color: rgb(212, 212, 212);
}

#header {
    background-color: var(--secondary-dark-color);
    padding: 10px;
    text-align: center;
    color: var(--text-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
}

hr {
    display: block;
    max-width: 50%;
    margin-bottom: 20px;
    height: 1px;
    border: 0;
    border-top: 1px solid #444444;
}