#footer {
    background-color: var(--secondary-dark-color);
    text-align: center;
    color: var(--text-color);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footerRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 100%;
    margin: -10px;
}

.footerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}