:root {
  --primary-dark-color: rgb(30, 30, 30);
  --secondary-dark-color: rgb(27, 27, 27);
  --text-color: rgb(212, 212, 212);
  --border-dark-color: #444444;
  --correct-color: #3fbf00;
  --contains-color: #ff9300;
  --miss-color: #323232ff;
}


